Task 1 – Analysis on ML Test Scores

Introduction:   
In this assignment, I analyzed the Machine Learning test scores of students belonging to three different batches. The goal of this analysis is to understand the performance of each batch and derive meaningful insights using Python.   

Objective:    
To analyze ML test scores of students from three different batches and derive meaningful insights using Python and Pandas.   

Dataset Description:   
The dataset contains the following columns:    
-> Batch – Name of the batch  
-> User_ID – Unique student identifier   
-> Score – Student score out of 7

Step 1: Import Required Libraries

I used the pandas library for data loading and analysis.

In [1]:
import pandas as pd

Step 2: Loading the Dataset

I loaded the dataset using the read_csv() function.

In [2]:
df = pd.read_csv("scores_data.csv")
df.head()

       Batch  User_ID     Score
0  AI_ELITE_7  uid_149       6 / 7
1  AI_ELITE_7  uid_148       6 / 7
2  AI_ELITE_7  uid_147       7 / 7
3  AI_ELITE_7  uid_146       7 / 7
4  AI_ELITE_7  uid_145       4 / 7

Step 3: Data Cleaning

3.1 Removing Extra Spaces from Column Names

I noticed that some column names contained extra spaces, so I removed them to avoid errors.

In [3]:
df.columns = df.columns.str.strip()

3.2 Converting Score Column to Numeric

The Score column was in text format (e.g., "4 / 7").    
To perform numerical analysis, I extracted the numeric value and converted it into an integer.

In [4]:
df['Score_num'] = df['Score'].str.extract(r'(\d+)').astype(int)

Step 4: Batch-wise Statistical Analysis

I performed batch-wise analysis to calculate:

-> Number of students  
-> Mean score   
-> Median score    
-> Minimum score    
-> Maximum score    
-> Standard deviation

In [5]:
summary = df.groupby('Batch')['Score_num'].agg(
    count='count',
    mean='mean',
    median='median',
    min='min',
    max='max',
    std='std'
).round(2)

summary

            count  mean  median  min  max   std
Batch
AI_ELITE_4     48  3.79     4.0    0    7  1.44
AI_ELITE_6     48  4.23     4.0    0    7  1.64
AI_ELITE_7     53  5.06     5.0    2    7  1.45

Step 5: Observations and Insights   

AI_ELITE_4   
This batch has the lowest average score.    
Some students scored 0, indicating poor understanding of the concepts.    
Overall performance is weaker compared to other batches.    

AI_ELITE_6     
Shows moderate performance.   
Has the highest variation in scores, indicating inconsistent performance among students.    
Some students performed very well, while others struggled.   

AI_ELITE_7    
This is the best-performing batch.     
Highest average and median scores.    
Minimum score is higher compared to other batches, indicating strong fundamentals.    
Performance is more consistent.